@charset "UTF-8";
@import url(/node_modules/normalize-css/normalize.css);
.header-menu-links li:hover, .books-categories ul li:hover {
  color: #1C2A39; }

.slider-wrapper-overlay {
  background: #E0E2;
  box-shadow: 0px 6px 59px rgba(53, 49, 84, 0.08); }

.bookshop-container {
  height: 2305px;
  width: 100%;
  background-color: #fff; }

.header-container {
  width: 100%;
  height: 116px;
  background-color: #fff; }

.header-elements {
  width: 78%;
  height: 40px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between; }

.bookshop-title {
  height: 29px;
  width: 11.4%;
  background-color: #fff;
  margin-top: -10px; }
  .bookshop-title h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px; }

.header-menu {
  width: 33.3%;
  height: 12px;
  background-color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5C6A79; }

.header-menu-links {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between; }
  .header-menu-links li {
    cursor: pointer; }
  .header-menu-links li:hover {
    transform: scale(1.1); }

.header-icons {
  display: flex;
  width: 11%;
  height: 17px;
  justify-content: space-between; }
  .header-icons div {
    cursor: pointer; }

.header__shoping-cart-quantity-text {
  margin-left: 3px;
  font-size: 14px;
  width: 100%;
  height: 100%; }

.header__shoping-cart-quantity {
  background-color: red;
  border-radius: 30px;
  width: 14px;
  height: 16px;
  margin-top: -14px;
  margin-left: 3px;
  color: #fff;
  position: relative; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 102px; }

.slider-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  /* text black */
  color: #1C2A39;
  width: 100%;
  height: 839px;
  background-color: #fff; }

.slider-content-main {
  display: flex; }

.slider-dots {
  display: flex;
  justify-content: space-between;
  width: 4%;
  margin: 0 auto;
  padding-top: 17px;
  height: 12px; }
  .slider-dots circle {
    fill: #d6d1f1; }

.slider-wrapper {
  width: 78%;
  height: 702px;
  background: center no-repeat;
  background-image: url("./assets/icons/banner2.jpg");
  background-image: url("./assets/icons/banner3.jpg");
  background-image: url("./assets/icons/slider-page.jpg");
  background-size: 120% 116%;
  margin: 0 auto;
  padding-top: 3px; }

.slider-wrapper-overlay {
  width: 100%;
  height: 100%; }

.slider-promo1 {
  width: 10.3%;
  height: 204px;
  background-color: #9E98DC;
  color: #1C2A39;
  text-decoration: none;
  margin-left: -16%;
  margin-top: 82px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  cursor: pointer; }
  .slider-promo1 div {
    padding-left: 10%;
    padding-top: 100px;
    width: 100%; }
  .slider-promo1 svg {
    padding-left: 10%; }

.slider-promo1:hover {
  transform: scale(1.1); }

.slider-promo2:hover {
  transform: scale(1.1); }

.slider-promo2 {
  width: 9.7%;
  height: 273px;
  background-color: #ff8fe6;
  margin-left: -4%;
  margin-top: 362px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  color: #1C2A39;
  text-decoration: none;
  cursor: pointer; }
  .slider-promo2 div {
    width: 80%;
    padding-left: 20%;
    padding-top: 150px; }
  .slider-promo2 svg {
    padding-left: 20%; }

.slider-dots-item:hover {
  transform: scale(1.1);
  cursor: pointer; }
  .slider-dots-item:hover circle {
    fill: #9E98DC; }

.dot-active circle {
  fill: #9E98DC; }

.books-categories {
  width: 29%;
  height: 710px;
  background-color: #d6d1f1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: capitalize;
  /* text gray */
  color: #5C6A79; }
  .books-categories ul {
    list-style: none;
    width: 50%;
    height: 93%;
    padding-left: 30%;
    margin-top: 45px; }
    .books-categories ul li {
      cursor: pointer; }
      .books-categories ul li svg {
        padding-right: 0;
        margin: 0; }
        .books-categories ul li svg circle {
          fill: #d6d1f1; }

.books-description {
  width: 64.2%;
  height: 1092px;
  background-color: red;
  margin-top: 46px;
  margin-left: -4%;
  display: grid;
  grid-template-columns: 46% 46%;
  grid-row-gap: 8.8%;
  grid-column-gap: 8%; }
  .books-description div {
    width: 100%;
    height: 300px;
    background-color: aqua;
    padding: 0;
    margin: 0;
    display: flex; }

.books-content-main {
  display: flex; }

.main-content__navigation-list-item {
  margin-bottom: 23px;
  color: #5C6A79;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer; }

.main-content__navigation-list-item:hover {
  transform: scale(1.1); }

.main-content__navigation-list-item:last-child {
  margin-bottom: 0px; }

.main-content__navigation-list-item-active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1C2A39; }

.main-content__navigation-list-item-active:before {
  content: "•";
  font-size: 24px;
  position: absolute;
  color: #756AD3; }

.main-content__navigation {
  width: 120px;
  margin-right: 76px; }

.main-content__navigation-background {
  position: absolute;
  width: 416px;
  height: 710px;
  background-color: #EFEEF6;
  z-index: -1;
  margin: -47px 0px 0px -162px; }

.main-content__book-card {
  display: flex;
  margin-bottom: 96px;
  height: 300px; }

.main-content__book-card:nth-child(5) {
  display: flex;
  margin-bottom: 96px; }

.main-content__book-card:nth-child(odd) {
  margin-right: 76px; }

.main-content__book-cover {
  width: 212px;
  height: 300px;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  margin-right: 34px; }

.main-content__book-info {
  width: 176px;
  height: 203px;
  background-color: #fff; }

.main-content__book-author {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5C6A79;
  padding-top: 49px;
  margin-bottom: 6px;
  text-transform: capitalize; }

.main-content__book-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1C2A39;
  margin: 0; }

.main-content__book-reviews {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5C6A79;
  margin-left: 6px; }

.main-content__book-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5C6A79;
  text-transform: capitalize;
  width: 176px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.main-content__book-price {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #1C2A39; }

.main-content__book-rating-star {
  color: #EEEDF5; }

.main-content__book-rating-star_active {
  color: #F2C94C; }

.button {
  border: 1px solid #4C3DB2;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  width: 176px;
  height: 45px;
  cursor: pointer;
  color: #4C3DB2;
  background-color: white; }

.button_buy-button {
  color: #5C6A79;
  border: 1px solid #EEEDF5;
  width: 100%;
  height: 45px; }

.button_buy-button-active {
  color: #4C3DB2;
  border: 1px solid #4C3DB2; }

.main-content__book-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 43px;
  margin-left: -6%;
  height: 1095px;
  background-color: none; }

.main-content__catalog {
  display: flex;
  flex-direction: column;
  align-items: center; }

.button_load-more-button {
  margin-left: 54.4%;
  margin-top: 96px; }

.button:hover {
  transform: scale(1.1); }

.button_load-more-button:hover {
  transform: scale(1.1); }

@media screen and (max-width: 400px) {
  .bookshop-container {
    height: 100%; }

  .header-menu-links {
    font-size: 7px; }

  .bookshop-title h1 {
    font-size: 20px; }

  .header-icons svg {
    width: 100%; }

  .header-icons-bag svg {
    width: 60%; }

  .main-content__book-catalog {
    display: inline; }

  .main-content__book-card {
    width: 300px; }
    .main-content__book-card img {
      width: 120px; }
    .main-content__book-card div {
      width: 120px; }
    .main-content__book-card .main-content__book-description {
      width: 120px; }
    .main-content__book-card .main-content__book-name {
      font-size: 12px; }

  .slider-promo1 div, .slider-promo2 div {
    padding: 0;
    padding-top: 40px;
    font-size: 9px;
    line-height: 24px; }

  .slider-promo1 svg, .slider-promo2 svg {
    width: 100%;
    padding: 0; }

  .slider-content {
    height: 82%; }

  .header-container {
    height: 80px; }

  .books-categories {
    height: 100%; }
    .books-categories ul {
      width: 70%;
      padding: 0;
      padding-left: 4px; }
    .books-categories li {
      font-size: 14px;
      word-wrap: break-word; }

  .button_load-more-button {
    margin-top: 1240px;
    margin-left: 30%; } }
@media screen and (max-width: 900px) {
  .header-container {
    height: 80px; }

  .books-categories {
    height: 800px; }
    .books-categories ul {
      padding-left: 10%; }
      .books-categories ul li {
        display: flex;
        font-size: 14px; }
        .books-categories ul li svg {
          padding-right: 10px; }

  .button_load-more-button {
    margin-top: 1240px;
    margin-left: 40%; }

  .slider-promo1 div, .slider-promo2 div {
    font-size: 10px;
    padding-top: 70px;
    padding-left: 10%; }

  .slider-promo1 svg, .slider-promo2 svg {
    width: 80%;
    padding-left: 10%; } }
@media screen and (max-width: 1184px) {
  .button_load-more-button {
    margin-top: 1240px;
    margin-left: 47%; } }

/*# sourceMappingURL=base.css.map */
